.container {
  margin-bottom: 12px;
  padding: 16px;
  border: #d1d5da 1px solid;
  border-radius: 4px;
}

.container p {
  margin: 8px 0;
  font-size: 12px;
  color: #586069;
}

.repo_title {
  color: #0366d6;
  font-weight: 600;
  text-decoration: none;
}

.repo_data {
  margin: 0;
  padding: 0;
}

.repo_data li {
  display: inline-block;
  padding-right: 20px;
}
