.user_name {
  color: #24292e;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  display: block;
}
.user_github_name {
  color: #666666;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  display: block;
}
