body {
  margin: 0 auto;
  color: #24292e;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol";
}
