.container {
  width: 25%;
  padding: 10px 0;
  margin-right: 20px;
}
.image_profile {
  width: 100%;
  border-radius: 6px;
}

.profile_info {
  border-top: #eaecef solid 1px;
  margin-top: 20px;
}

.user_profile_wrapper {
  padding: 20px 0;
}
